body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header {
  border-bottom: 1px solid seashell;
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 5;
  align-items: center;
}
.logo {
  height: 50px;
  padding-left: 10px;
  width: auto;
}
a {
  color: seashell;
  padding: 0 10px;
}

/* Content */
main {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Mission */
.mission {
  background-image: url(./images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  background-color: black;
  width: 1200px;
}

/* Featured */
.featured {
  width: 1000px;
  height: auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tiles {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.image-content {
  width: 325px;
  height: 265px;
}
.image-content img {
  width: 300px;
  height: 200px;
  margin: 10px;
}
.image-content span {
  padding: 5px;
}

/* Locations */
.locations {
  background-image: url(./images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  padding-top: 60px;
}
.location-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  width: 300px;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Contact */
.contact {
  height: 200px;
  width: 100%;
}

/* Footer */
.copyright {
  text-align: left;
  padding: 0 20px;
  position: relative;
  top: 50px;
}
